*{
    box-sizing: border-box;
  }
.App{
    background-color: #554C4C;
}
  body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  body::-webkit-scrollbar-track{
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-thumb{
    background: #2121C3;  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }